.footer_banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer_banner img {
    opacity: 0.5;
}
.footer_banner::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#313638,transparent);
    z-index: 1000;
}
.footer_banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_banner iframe {
    margin-top: 100px;
    z-index: 1001;
}