.footer-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer-banner img {
    opacity: 0.5;
}
.footer-banner::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#313638,transparent);
    z-index: 1000;
}
.footer-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-banner .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;

    padding: 60px;
}
.footer-banner .content .text {
    color: #fff;
    width: 600px;
    padding-right: 120px;
}
.footer-banner .content .text h1 {
    font-size: 1.5em;
}
.footer-banner .content .text p {
    padding-top: 20px;
    font-size: .6em;
    flex-wrap: wrap;
}
.footer-banner .content .text h2 {
    padding-top: 60px;
    font-size: .6em;
    font-weight: normal;
}
.footer-banner .content iframe {
    margin-top: 100px;
}