@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Regular.woff2') format('woff2'),
    url('SegoeUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FjallaOne';
    src: url('../Assets/font/FjallaOne-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    scroll-behavior: smooth;
}

/* body style */
body {
    min-height: 100vh;
    background-color: #313638;
}
body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/* header style */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    z-index: 9999;
}
.header-scrolled {
    background-color: #E4B363;
    box-shadow: 0, 3px, 10px rgba(0, 0, 0, 0.15);
}

/* logo style */
.header .logo {
    width: 60px;
    height: auto;
    margin-left: 45px;
    padding: 6px;

    background-color: #fff;
    border-radius: 50%;
    overflow: visible;
}

/* other navbar items style */
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
}
.header ul li {
    list-style: none;
    margin-left: 20px;
}
.header ul li a {
    text-decoration: none;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    color: #fff;
    border-radius: 10px;
}
.header ul li a:hover,
.header ul li a.active {
    text-decoration: underline;
}
.header ul li .item1.scrolled,
.header ul li .item2.scrolled,
.header ul li .item3.scrolled,
.header ul li .item4.scrolled {
    color: #313638;
}

/* button login style */
.header ul li .btn-login {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}
.header ul li .btn-login:hover {
    background: #fff;
    color: #313638;
}
.header ul li .btn-login.btn-scrolled {
    border: 2px solid #313638;
    color: #313638;
}
.header ul li .btn-login.btn-scrolled:hover {
    background: #313638;
    color: #fff;
}

/* paralax landing page style */
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.landing::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#313638,transparent);
    z-index: 1000;
}
.landing img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.landing img#ponorogo_front {
    z-index: 10;
    opacity: 1;
}
.landing img#ponorogo_back {
    opacity: 0.5;
}
.landing h2#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 15vw;
    z-index: 9;
    font-family: 'FjallaOne';
    letter-spacing: 50px;
    text-shadow: 2px 2px 8px #313638;
}