* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI';
}

.table {
    width: 100%;
}
.table .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240,240,240);
}
.table .table-header p {
    color: #000000;
}
.table .table-header a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border: 1.5px solid #000;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;
}
.table .table-header a:hover {
    color: #fff;
    background-color: #000;
}

.table .table-section {
    height: 650px;
    overflow: auto;
}
.table .table-section table {
    width: 100%;
    table-layout: fixed;
    min-width: 500px;
    padding-bottom: 40px;
}
.table .table-section thead th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}
.table .table-section th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

.table .table-section tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}

.table .btn-add {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    background-color: #0298cf;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}
.table td button.btn-edit {
    color: #fff;
    background-color: #0298cf;
}
.table td button.btn-trash {
    color: #fff;
    background-color: #f80000;
}

/* form general styling */
.form-section {
    padding: 25px 30px;
    max-width: 1000px;
    width: 100%;
}

/* title styling */
.form-section .title {
    font-size: 25px;
    font-weight: 500;
}

/* input general styling */
.form-section form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

/* input box styling */
.form-section form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

/* text input styling */
.form-section form .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-section form .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all .3s ease;
}
.form-section form .user-details .input-box input:focus,
.form-section form .user-details .input-box input:valid {
    border-color: #0298cf;
}
.form-section form button {
    color: #fff;
    background-color: #0298cf;
    padding-left: 50px;
    padding-right: 50px;
}

/* dropdown input styling */
.form-section form .user-details .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all .3s ease;
}
.form-section form .user-details .input-box select:focus,
.form-section form .user-details .input-box select:valid {
    border-color: #0298cf;
}

.form-section form .user-details .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all .3s ease;
}
.form-section form .user-details .input-box select:focus,
.form-section form .user-details .input-box select:valid {
    border-color: #0298cf;
}

/* text area styling */
.form-section form .user-details-long {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.form-section form .user-details-long .input-box {
    margin-bottom: 15px;
    width: 100%;
}
.form-section form .user-details-long .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-section form .user-details-long .input-box textarea {
    height: 90px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all .3s ease;
}
.form-section form .user-details-long .input-box textarea:focus,
.form-section form .user-details-long .input-box textarea:valid {
    border-color: #0298cf;
}
